.remove-btn {
    margin-right: 0.5rem;
}

.fade-enter{
    opacity: 0.01;

}
.fade-enter-active{
    opacity: 1;
    transition: opacity 1000ms ease-in;
    
}
.fade-exit{
    opacity:1;
    
}
.fade-exit-active{
    opacity:0.01;
    transition: opacity 1000ms ease-in;
    
}

.instructions {
    font-size: 1.4em;
    color: white;
   font-weight: normal;
    text-align: center;
    padding: 3%;
}

span {
    font-size: 1.6em;
    font-weight: bold;
    color: white;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}